<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grades</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="lg_layout">
        <div class="showgrade">
            <h2>武楚楚你好，这是你的成绩：</h2>
            {% for key in grades %}
            <p>{{ key }} - {{ grades[key] }}</p>
            {% endfor %}
        </div>
        <div class="back">
            <a href="/">Back to Home Page</a>
        </div>
    </div>
        
</body>
</html>