body{
    background-color: #3d3d3d;
    padding-top: 70px;
}
.lg_layout{
    width: 600px;
    height: 400px;
    border: 8px solid #EEEEEE;
    background-color: white;
    margin: auto;
}
.Headline h2{
    color:cadetblue;
    text-align: center;
}

button{
    font-size: 20px;
    background-color:rgb(203, 240, 241);
    border: 1px solid #A6A6A6;
}
.input{
    text-align: center;
}

.showgrade{
    text-align: center;
}

